<head></head>
<body>


<h2>Create Figure</h2>

<form action="/figures" method="post">
<label for="name">Name</label><br>
<input id="figure_name" type = "text" name="figure[name]"/><br>

<h1>Titles</h1>
<label>Figure Title</label><br>
<% @titles.each do |title| %>
  <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%> </input>
<% end %>

<label for="name">Create New Title</label><br>
<input id="new_title" type = "text" name="title[name]"/><br>

<h1>Landmarks</h1>
<label>Landmark Name</label><br>

<% @landmarks.each do |landmark| %>
  <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"><%=landmark.name%> </input>
<% end %>

<label for="name">Create New Landmark</label>
<input id="new_landmark" type ="text" name="landmark[name]"/>
<input type="submit" id="submit" value="Create New Figure"><br>

</form>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>

</body>
<!-- <div>
  <input type="checkbox" id="dewey" name="drone" value="dewey">
  <label for="dewey">Dewey</label>
</div> -->
